.h-1 {
    height: 1rem !important;
}

.h-2 {
    height: 2rem !important;
}

.h-3 {
    height: 3rem !important;
}

.h-4 {
    height: 4rem !important;
}

.h-5 {
    height: 5rem !important;
}

.h-6 {
    height: 6rem !important;
}

.h-7 {
    height: 7rem !important;
}

.h-8 {
    height: 8rem !important;
}

.h-9 {
    height: 9rem !important;
}

.h-10 {
    height: 10rem !important;
}

.h-20 {
    height: 20rem !important;
}